.main-landing {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-welcome {
    min-width: 950px;
    max-width: 1150px;
}

.baby-button1{
    width: 400px;
    height: 250px;
    font-size: 25px;
    background-color: #477998;
    cursor: pointer;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.baby-button1:hover{
    display: block;
}

.baby-button1:hover .baby-button-text1{
    display: none;
}

.baby-button-text1{
    position: absolute;
    font-size: 25px;
    min-width: 200px;
}

.baby-button-text1 span{
    position: absolute;
    font-size: 25px;
    min-width: 150px;
}

.baby-button-img1{
    display: none;
    position: absolute;
    width: 400px;
    height: 250px;
    border-radius: 5px;
}

.baby-button1:hover .baby-button-img1{
    display: block ;
}

.baby-button2{
    width: 400px;
    height: 250px;
    font-size: 25px;
    background-color: #477998;
    cursor: pointer;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.baby-button2:hover{
    display: block;
}

.baby-button2:hover .baby-button-text2{
    display: none;
}

.baby-button-text2{
    font-size: 25px;
}

.baby-button-img2{
    display: none;
    position: absolute;
    width: 400px;
    height: 250px;
    border-radius: 5px;
}
.baby-button2:hover .baby-button-img2{
    display: block ;
}

.main-welcome-message{
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    color: #A3333D;
    font-weight: 700;
}

.main-components{
    display: flex;
    justify-content: space-around;
    align-items: flex-center;
    margin: 40px 50px 40px 50px
}
