.stock-search-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
<<<<<<< HEAD
=======
    margin-top: 50px;
    margin-bottom: 100px;
>>>>>>> aea19413b55d096d6b5e9cf30e5de325de8f7a54
}

.stock-search-form{
    margin: 50px;
    max-width: 150px;
}

.stock-search-form-input {
  width: 100px;
  padding: .5em;
  font-size: 12px;
  font-weight: 500;
  margin: 5px 0 16px 0;
  display: inline-block;
  background: #fafafa;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.stock-form-submit{
    background: #A3333D;
    /* border-color: #3d6883; */
    border-radius: 2px;
    font-size: 16px;
    outline: 0;
    display: inline-block;
    padding: 10px 10px;
    margin-top: 10px;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
}

.stock-form-submit:hover{
    background: #3d6883;
}