.stock-search-landing-results {
    background-image: url('./stock-search-landing.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    min-width: 1000px;
    font-weight: 700;
}

.loader-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./stock-search-landing.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    height: 75vh;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.stock-search-landing-results h1 {
    font-size: 24px;
    margin: 40px 20px 20px 20px;
    color: #2a5976;
}

.stock-search-results-container {
    font: 18px;
    margin: 20px;
    width: 60vw;
    min-width: 700px;
    overflow: auto;
    background-color: whitesmoke;
    border-radius: 3px;
    border: 2px solid  #2a5976;
}

.stock-search-results-container > li {
    border: 1px solid  #2a5976;
    border-radius: 3px;
    margin: 24px 40px 24px 40px;
    min-height: 4vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2a5976;
}

.stock-search-results-container > li:hover {
    background-color: lightgrey;
}

.stock-search-results-container > li > p:nth-child(1) {
    font-size: 16px;
    padding: 2%;
    min-width: 20%;
}

.stock-search-results-container>li>p:nth-child(2) {
    font-size: 16px;
    padding: 2%;
    min-width: 40%;
}

.stock-search-results-container>li>p:nth-child(3) {
    font-size: 16px;
    min-width: 27%;
    padding: 2%;
    text-align: end;
}