.stock-search-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.stock-search-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 950px;
    background-color: #778899;
    padding: 10px 0 10px 0;
    height: 3vh;
    min-height: 15px;
}

.stock-search-form > div > h1 {
    color: white;
    font-size: 18px;
}

.stock-search-form-input {
  width: 225px;
  font-size: 12px;
  font-weight: 500;
  padding: 7px 7px;
  /* margin-left: 40px; */
  background: #fafafa;
  border: 2px solid darkgray;
  border-radius: 3px;
}

.stock-form-submit {
    background: #A3333D;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    outline: 0;
    padding: 5px 20px;
    /* margin-left: 40px; */
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
    border: 2px solid rgb(143, 40, 49);
}

.stock-form-submit:hover {
    background: #3d6883;
}

.stock-details-and-graph {
    display:flex;
    justify-content: space-around;
    margin: 50px 0 30px 80px;
    height: 67vh;
}

.stock-search-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    min-width: 1000px;
    font-weight: 700;
    background-image: url('./stock-search-landing.jpg');
    background-repeat: repeat-x;
    background-size: cover;
}

.stock-search-landing h1 {
    font-size: 30px;
    margin-top: 20px;
}

.stock-search-landing p {
    display: block;
    font-size: 20px;
    margin: 30px;
    max-width: 1000px;
}

.stockName-search-results {
    display: flex;
    flex-direction: column;
}

.stock-search-background {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    background-repeat: repeat-x;
}