
.stock-box{
    display: flex;
    justify-content: space-around;
    border: none;
    width: 500px;
    /* max-width: 70%; */
}
.stock-buy-input{
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 7px;
    background: #fafafa;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-right: 20px;
}
.stock-buy-submit{
    background: #A3333D;
    font-size: 16px;
    padding: 7px 7px;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
    border: none;
}

.stock-buy-sumbit:hover{
    background: #3d6883;
}

.stock-details{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 5px;
}
.stock-details p{
    font-size: 20px;
    margin-right: 20px;
}
.stock-details {
    max-width: 600px;
}

.stock-box-container div:first-child{
    font-size: 24px;
    margin-bottom: 20px;
}
.stock-box-container form > p{
    font-size: 20px;
    margin-top: 20px;
}
.stock-box-container form div{
    margin-top: 20px;
}
/* margin-right: 10px; */