.stock-box-container{
    display: flex;
    justify-content: space-around;
    border: 1px solid lightgray;
    width: 500px;
    padding: 20px;
}

.stock-details-box span{
    font-size: 20px;
}

.stock-details-box form input{
    width: 115px;
    padding: .5em;
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0 16px 0;
    display: inline-block;
    background: #fafafa;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.stock-buy{
    background: #A3333D;
    font-size: 16px;
    outline: 0;
    display: inline-block;
    padding: 10px 10px;
    margin-top: 10px;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}

.stock-buy:hover{
    background: #3d6883;
}

.stock-details{
    padding: 5px;
}