.stock-search-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.stock-search-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 990px;
    background-color: #778899;
    padding: 10px 0 10px 0;
    height: 3vh;
    min-height: 15px;
}

.stock-search-form-box {
    margin-left: -154px;
}

.stock-search-form > div > h1 {
    color: white;
    font-size: 18px;
}

.stock-search-form-input {
  width: 225px;
  font-size: 12px;
  font-weight: 500;
  padding: 7px 7px;
  background: #fafafa;
  border: 2px solid darkgray;
  border-radius: 3px;
}

.stock-form-submit {
    background: #A3333D;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    outline: 0;
    padding: 5px 20px;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
    border: 2px solid rgb(143, 40, 49);
}

.stock-form-submit:hover {
    background: #3d6883;
    border: 2px solid #295978;
}

.stock-details-and-graph {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 100px;
    height: 68vh;
    /* max-width: 1000px; */
}

.stock-search-landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-width: 1000px;
    font-weight: 700;
    background-image: url('./stock-search-landing.jpg');
    background-repeat: repeat-x;
    background-size: cover;
}
.stock-search-landing-details {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stock-search-landing-details > h1{
    font-size: 45px;
    font-weight: 700;
    color: #2a5976;
}

.stock-search-landing-details > p{
    font-size: 30px;
    margin: 10px;
    color: #2a5976;
    font-weight: 600;
}