/* .stock-box{
    display: flex;
    justify-content: space-around;
    border: none;
    width: 500px;
} */

.stock-buy-input{
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 7px;
    background: #fafafa;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-right: 20px;
}

.buy-button{
    margin-left: 20px;
    border: 1px solid #A3333D;
    border-radius: 2px;
    font-size: 16px;
    padding: 7px 10px;
    color: #A3333D;
    text-align: center;
    cursor: pointer;
}
.buy-button-active{
    margin-left: 20px;
    border: 1px solid #3d6883;
    border-radius: 2px;
    font-size: 16px;
    padding: 7px 10px;
    color: #3d6883;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}

.sell-button{
    margin-left: 20px;
    border: 1px solid #A3333D;
    border-radius: 2px;
    font-size: 16px;
    padding: 7px 10px;
    color: #A3333D;
    text-align: center;
    cursor: pointer;
}
.sell-button-active{
    margin-left: 20px;
    border: 1px solid #3d6883;
    border-radius: 2px;
    font-size: 16px;
    padding: 7px 7px;
    color: #3d6883;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}

.trade-submit-button{
    margin-top: 25px;
    background: #A3333D;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    outline: 0;
    padding: 8px 20px;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
}

.trade-submit-button:hover{
    background: #3d6883;
}

.stock-buy-sumbit:hover{
    background: #3d6883;
}

.stock-details{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 5px;
}
.stock-details p{
    font-size: 20px;
    margin-right: 20px;
}
.stock-details {
    max-width: 100%;
}

.stock-box-container{
    color: #2a5976;
    margin-top: 10px;
    max-width: 80%;
}
.stock-box-container div:first-child{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}
.stock-box-container form > p{
    font-size: 20px;
    margin-top: 20px;
}
.stock-box-container form div{
    margin-top: 20px;
}