.portfolio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    width: 100vw;
}

.portfolio-background{
    width: 100%;
    min-height: min-content;
}