.portfolio-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.portfolio-header h1 {
    font-size: 20px;
}

.portfolio-header {
    margin-bottom: 4px;
    margin-top: 8px;
}

.portfolio-data {
    display: flex;
}

.portfolio-graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-user-welcome-container{
    background-image: url('./portfolio_background.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 79vh;
    min-width: 1000px
}

.new-user-welcome-container > h1{
    font-size: 45px;
    /* margin: 50px 0px 10px 0px; */
    font-weight: 700;
    color: #2a5976;
}

.new-user-welcome-container > p{
    font-size: 30px;
    margin: 10px;
    color: #2a5976;
    font-weight: 600;
}