.stock-box-owned {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    /* background-color: rgb(232, 232, 232); */
    background-color: whitesmoke;
    padding: 08px;
    margin: 10px 10px 0px 0px;
    border-radius: 3px;
    min-width: 400px;
    align-items: center
}

.stock-box-owned-details {
    margin: 10px 10px 10px 10px;
}

.portfolio-specific-details {
    display: flex;
    justify-content: center;
}

.global-end-point-details {
    margin: 10px 10px 10px 10px;
}

.stock-index-main {
    display: flex;
    overflow: scroll;
    /* height: 74vh; */
    height: 68vh;
    flex-direction: column;
}

.stock-box-owned-details {
    display: flex;
}