#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html body {
    min-height: 100vh;
}

.main-app {
    display: flex;
    flex-direction: column;
    min-width: 950px;
    height: 100%;
}

/* .home-page {
    height: 68vh;
} */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.815)), url("./banner.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-img {
    max-height: 800px;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.hero-text {
  text-align: center;
  min-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1{
    font-size: 60px;
    font-weight: 600;
    text-shadow: 1px 1px rgb(49, 49, 49);
}
.hero-text p{
    font-size: 40px;
    font-weight: 500;
    text-shadow: 1px 1px rgb(49, 49, 49);
}

.banner-button{
    background: #A3333D;
    font-size: 20px;
    outline: 0;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 10px;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
    
}
.banner-button:hover{
    background: #3d6883;
    border-color: #1e3341;
    cursor: pointer;
}

.homepage-info{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    max-height: 500px;
}

.homepage-info-title{
    position: absolute;
    color: #A3333D;
    font-weight: 600;
    padding-left: 60px;
    margin: 40px, 30px, 0, 30px;
    font-size: 40px;
}   
