.navbar-main {
    background: whitesmoke;
    padding: 20px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link{
    color: #A3333D;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 400;
}

.navbar-link:hover{
    color: #3d6883;
}

.navbar-main > h1{
    font-size: 25px;
}

.navbar-button{
    padding-right: 20px;
    margin-right: 5px;
    color: #A3333D;
    font-size: 16px;
}

.navbar-button:hover{
    color: #3d6883;
}

.home-logo{
    color: #A3333D;
    font-size: 45px;
    font-family: 'Play', sans-serif;
}