.header-container{
    padding: 0 20px 0 20px;
}

.navbar-main{
}

.navbar-main {
    width: 100%;
    background: whitesmoke;
    /* padding-top: 20px; */
    padding: 20px 10px 20px 10px;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link{
    color: #477998;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 400;
}

.navbar-link:hover{
    color: #291F1E;
}

.navbar-main > h1{
    font-size: 25px;
}

.navbar-button{
    padding-right: 20px;
    color: #477998;
}

.navbar-button:hover{
    color: #291F1E;
}

.home-logo{
    color: #477998;
    font-size: 25px;
}