.header-container{
    padding: 0 20px 0 20px;
}

.navbar-main{
}

.navbar-main {
    width: 100%;
    background: #8AB0AB;
    /* padding-top: 20px; */
    padding: 20px 10px 0px 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link{
    color: #1A1D1A;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 400;
}

.navbar-link:hover{
    color: #9c460d;
}

.navbar-main > h1{
    font-size: 25px;
}

.navbar-button{
    padding-right: 20px;
}

.navbar-button:hover{
    color: #9c460d;
}