.stock-graph-main > p{
    font-size: 18px;
}

.stockgraph-time-button-container{
    display: flex;
    justify-content: space-around;
    margin: 10px 10px 20px 20px;
    padding-left: 30px;
}

.stockgraph-time-button{
    color: #A3333D;
    font-size: 16px;
    font-weight: 400;
}

.stockgraph-time-button:hover{
    color: #3d6883;
}

.recharts-legend-wrapper {
    bottom: -5px;
}

.recharts-cartesian-axis-ticks {
    /* display: none; */
}