.footer-container{
    /* position: relative; */
    background-color: #202527;
    width: 100%;
    height: 150px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-container > ul {
   margin-top: 20px;
}


.footer-container ul .li-top{
    font-weight: 600;
}

.footer-container ul li{
    font-size: 16px;
    font-weight: 300;
    padding: 0px 16px 16px 0px;
}

.last-foot{
    background-color: #212121;
    height: 50px;
    text-align: left;
}

.last-foot span{
    color: white;
    /* margin-top: 20px; */
    padding: 20px;
    font-weight: 300;
    font-size: 14px;
}