.footer-container {
    z-index: 1;
    background-color: #202527;
    width: 100vw;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
}

.footer-contributors {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}