.modal-background {
    position: fixed;
    background: rgba(255, 255, 255, 0.655);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.modal-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 44px 56px 44px 56px;
    width: 566px;
    height: 607px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: rgba(0, 0, 0, 0.84);
    min-height: 600px;
    font-size: 18px;
    max-width: 700px;
}

.close-x {
    color: rgb(89,91,89);
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 8px;
}

.close-x:hover {
    color: black;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.modal-title {
    font-size: 28px;
}

.modal-intro {
    font-size: 16px;
    margin-top: 25px;
    text-align: center;
    line-height: 25px;
}

