.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    width: 100vw;
    background-image: url('../stocks/portfolio/portfolio_background.jpg');
    background-repeat: repeat-x;
    background-size: cover;
}

.profile-header h1 {
    font-size: 28px;
    font-weight: 700;
    color: #2a5976;
}

.profile-header {
    margin-bottom: 4px;
    margin-top: 8px;
}

.profile-data {
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 500px;
    border: 1px solid darkgray;
}

.profile-graph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    border: 1px solid gray;
    background-color: whitesmoke;
    height: 65vh;
    width: 450px;
}

.profile-graph-container > h1 {
    margin: 10px 0 10px 60px;
}

.profile-graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-details-and-graph {
    min-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

.profile-transactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

.profile-transactions-container {
    overflow: scroll;
    width: 100%;
}

.profile-transaction-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid gray;
    background-color: whitesmoke;
    margin: 10px;
}

